.foodnote__list {
  flex: 0 1 100%;
}
.foodnote__list__title {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  width: 100%;
}
.foodnote__list__datebtns {
  display: flex;
  font-weight: 800;
  font-size: 12px;
  text-transform: uppercase;
}
.btn__day {
  background: #fff;
  border: 1px solid #eee;
  display: block;
  padding: 10px;
}
.btn__day:hover {
  border: 1px solid #ccc;
  color: #7a9118;
  cursor: pointer;
}
.btn__day--active {
  composes: btn__day;
  background: url('../../../assets/images/btn-stripes.png') #3f4d00;
  color: #fff;
}
.btn__day--active:hover {
  color: #fff;
}
.foodnote__list__header {
  background: #fff;
  border-bottom: 2px solid #ccc;
  box-shadow: 0px 0px 5px -1px rgba(0,0,0,.2);
  display: flex;
  flex-wrap: wrap;
  font-weight: 600;
  margin-bottom: 5px;
  padding: 10px;
  width: 100%;
}
.header__column1 {
  align-items: flex-end;
  display: flex;
  flex: 0 0 40%;
  max-width: 40%;
}
.header__column2 {
  display: flex;
  flex: 0 0 50%;
  flex-wrap: wrap;
  max-width: 50%;
}
.header__labels {
  flex: 0 0 30%;
  max-width: 30%;
}
.label__totals,
.label__amount {
  padding: 2px;
}
.totals {
  display: flex;
  flex: 0 0 70%;
  flex-wrap: wrap;
  max-width: 70%;
}
.totals__value,
.totals__type {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 2px;
}
.totals__value {
  border-bottom: 1px solid #eee;
}
.totals__type {
  color: #999;
}

.header__column3 {
  align-items: flex-end;
  display: flex;
  flex: 0 0 10%;
  max-width: 10%;
}
.foodnote__list__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.empty__message {
  background: #fff;
  border-bottom: 2px solid #ccc;
  font-weight: 600;
  margin-bottom: 5px;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.error {
  background: rgb(252, 236, 236);
  box-shadow: 0px 1px 3px 0px rgb(209, 144, 144);
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
}
.error__message {
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
  text-transform: capitalize;
}

@media all and (max-width: 1120px) {
  .header__column1 {
    flex: 0 0 30%;
    max-width: 30%;
  }
  .header__column2 {
    flex: 0 0 60%;
    max-width: 60%;
  }
  .header__column3 {
    flex: 0 0 10%;
    max-width: 10%;
  }
}

@media all and (max-width: 1020px) {
  .header__column1 {
    display: none;
  }
  .header__column2 {
    flex: 0 0 90%;
    max-width: 90%;
  }
  .label__amount {
    display: none;
  }
}

@media all and (max-width: 800px) {
  .foodnote__list__title h1 {
    font-size: 28px;
  }
  .header__column2 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .header__column3 {
    display: none;
  }
}

@media all and (max-width: 480px) {
  .foodnote__list__title {
    flex-direction: column-reverse;
  }
  .foodnote__list__datebtns {
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
  }
  .btn__day {
    flex: 1;
    text-align: center;
  }
}