.foodnote__list {
  flex: 0 1 100%;
}
.foodnote__list__title {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  position: relative;
  width: 100%;
}

.foodnote__list__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.empty__message {
  background: #fff;
  border-bottom: 2px solid #ccc;
  font-weight: 600;
  margin-bottom: 5px;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.error {
  background: rgb(252, 236, 236);
  box-shadow: 0px 1px 3px 0px rgb(209, 144, 144);
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
}
.error__message {
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
  text-transform: capitalize;
}

.btn--menu__category {
  display: none;
}

@media all and (max-width: 1120px) {
  .header__column1 {
    flex: 0 0 30%;
    max-width: 30%;
  }
  .header__column2 {
    flex: 0 0 60%;
    max-width: 60%;
  }
  .header__column3 {
    flex: 0 0 10%;
    max-width: 10%;
  }
}

@media all and (max-width: 1020px) {
  .header__column1 {
    display: none;
  }
  .header__column2 {
    flex: 0 0 90%;
    max-width: 90%;
  }
  .label__amount {
    display: none;
  }
  .btn--menu__category {
    background: url('../../../assets/images/btn-stripes-4.png') #3f4d00;
    color: #fff;
    cursor: pointer;
    display: block;
    flex: 0 0 220px;
    font-weight: 900;
    max-width: 220px;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
  }
}

@media all and (max-width: 800px) {
  .foodnote__list__title {
    flex-wrap: wrap;
  }
  .foodnote__list__title h1 {
    font-size: 28px;
  }
  .btn--menu__category {
    flex: 0 0 160px;
    max-width: 160px;
  }
  .header__column2 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .header__column3 {
    display: none;
  }
}

@media all and (max-width: 480px) {
  .btn--menu__category {
    flex: 0 0 140px;
    max-width: 140px;
  }
}