.foodnote {
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #eee;
  display: flex;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 2px 10px;
}
.foodnote:hover {
  border-bottom: 1px solid #a3c220;
}
.foodnote-product-name {
  align-items: center;
  display: flex;
  flex: 0 0 40%;
  max-width: 40%;
}
.foodnote-product-data {
  align-items: center;
  display: flex;
  flex: 0 0 50%;
  max-width: 50%;
}
.foodnote-product-data div {
  flex: 0 0 17.5%;
  max-width: 17.5%;
}
.foodnote-product-data div.wide {
  align-items: center;
  display: flex;
  flex: 0 0 30%;
  max-width: 30%;
}
.foodnote-product-data div.wide input {
  flex: 0 0 50%;
  max-width: 50%;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 18px;
  padding: 10px;
  width: 80px;
}
.foodnote-product-action {
  align-items: center;
  display: flex;
  flex: 0 0 10%;
  max-width: 10%;
}
.action-delete {
  color: #b33802;
  cursor: pointer;
  font-weight: 600;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.action-delete svg {
  font-size: 20px;
  margin-right: 10px;
}
.action-delete:hover {
  color: #333;
}