.foodnote {
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #eee;
  display: flex;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 2px 10px;
}
.foodnote:hover {
  border-bottom: 1px solid #a3c220;
}
.foodnote__name {
  align-items: center;
  display: flex;
  flex: 0 0 40%;
  max-width: 40%;
}

@media all and (max-width: 1120px) {
  .foodnote__name {
    flex: 0 0 30%;
    max-width: 30%;
  }
}