.article {
  background: #fff;
  border-bottom: 2px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px; 
  padding: 20px;
}
.article-title {
  font-size: 18px;
  margin-bottom: 5px;
}
.article-description {
  margin-bottom: 10px;
}
.article-link {
  margin-right: 10px;
}