.foodnote__list__datebtns {
  display: flex;
  flex: 0 0 220px;
  max-width: 220px;
  font-weight: 800;
  font-size: 12px;
  text-transform: uppercase;
}
.btn__day {
  background: #fff;
  border: 1px solid #eee;
  display: block;
  flex: 1;
  padding: 10px;
  text-align: center;
}
.btn__day:hover {
  border: 1px solid #ccc;
  color: #7a9118;
  cursor: pointer;
}
.btn__day--active {
  composes: btn__day;
  background: url('../../../../assets/images/btn-stripes.png') #3f4d00;
  color: #fff;
}
.btn__day--active:hover {
  color: #fff;
}

@media all and (max-width: 800px) {
  .foodnote__list__datebtns {
    flex: 0 0 100%;
    margin-top: 10px;
    max-width: 100%;
  }
}