footer {
  background: #11191B;
}
.footer__wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1366px;
  width: 100%;
}
.footer__top {
  padding: 40px 0;
}
.footer__bottom {
  background: #0D1215;
  color: #3d4143;
  padding: 20px 0;
}

@media all and (max-width: 1400px){
  .footer__top {
    padding: 40px 20px;
  }
  .footer__bottom {
    padding: 20px;
  }
}