<h1>Password reset request</h1>
  <p>You receive this e-mail because you or someone else has requested to reset password calories.today.<br>If you didn't make this request, ignore this email.</p>
  <a href="https://calories.today/reset-password/<%= @user.reset_password_token %>" target="_blank">Click here to reset password</a>
<p>calories.today &copy; 2019</p>