.logo {
  display: block;
  flex: 0 0 200px;
  max-width: 200px;
  transition: all 0.3s ease;
}
.logo:hover {
  opacity: 0.7;
}
.logo img {
  display: block;
  height: auto;
  width: 100%;
}

@media all and (max-width: 768px){
  .logo {
    flex: 0 0 160px;
    max-width: 160px;
  }
}