.list__item {
  border-bottom: 1px solid #eee;
  display: flex;
}

.c1 {
  flex: 0 0 70px;
  max-width: 70px;
}
.c2 {
  flex: 1;
}
.c3 {
  flex: 0 0 80px;
  max-width: 80px;
}
.c4 {
  flex: 0 0 120px;
  max-width: 120px;
}

.visible, 
.hidden {
  cursor: pointer;
  font-weight: 800;
}
.visible {
  color: #7a9118;
}
.hidden {
  color: #b33802;
}
.visible:hover,
.hidden:hover {
  text-decoration: underline;
}

@media all and (max-width: 768px) {
  .list__item {
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
  }
  .visible, 
  .hidden {
    border-radius: 3px;
    color: #fff;
    padding: 8px;
  }
  .visible {
    background: #7a9118;
  }
  .hidden {
    background: #b33802;
  }
  .c4 {
    flex: 0 0 130px;
    max-width: 130px;
  }
}

@media all and (max-width: 640px) {
  .list__item {
    flex-wrap: wrap;
  }

  .visible {
    display: block;
    text-align: center;
  }
  .c1 {
    flex: 0 0 70px;
    max-width: 70px;
  }
  .c2 {
    flex: 0 0 80%;
    max-width: 80%;
  }
  .c3 {
    flex: 0 0 80px;
    margin-left: auto;
    max-width: 80px;
  }
  .c4 {
    display: flex;
    flex: 0 0 190px;
    padding: 5px 10px 5px 0px;
    max-width: 190px;
  }
}