.list-item {
  border-bottom: 1px solid #eee;
  display: flex;
}

.c20 {
  flex: 0 0 20%;
  max-width: 20%;
}
.c30 {
  flex: 0 0 30%;
  max-width: 30%;
}

.visible {
  color: #7a9118;
  cursor: pointer;
  font-weight: 600;
}
.hidden {
  color: #b33802;
  cursor: pointer;
  font-weight: 600;
}
.visible:hover,
.hidden:hover {
  text-decoration: underline;
}