.home {
  align-items: center;
  background: url('../../assets/images/bg.jpeg'), url('../../assets/images/deco-stripes-2.png') #fafafa;
  background-repeat: no-repeat, repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding: 80px 20px;
  width: 100%;
}

.home__teaser {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 750px;
  max-width: 750px;
  padding-right: 50px;
}
.home__teaser h1 {
  color: #3f4d00;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(transparent, transparent), url('../../assets/images/btn-stripes.png') repeat;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 56px;
}
.home__subtitle {
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.42em;
  letter-spacing: -1px;
  margin-bottom: 10px;
}
.home__subtitle span {
  color: #6A8100;
}
.home__teaser li {
  align-items: center;
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 40px;
  padding-left: 10px;
}
.home__teaser li svg {
  color: #7a9118;
  font-size: 20px;
  font-weight: bold;
  font-variant: normal;
  line-height: 2em;
  margin-right: 10px;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home__form {
  background: #fff;
  box-shadow: 0px 1px 6px -1px rgba(0, 0, 0, 0.3);
  display: flex;
  flex: 0 1 450px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 450px;
  overflow: hidden;
  padding: 20px;
}

.home__form input:not([type="submit"]), 
.home__form select, 
.home__form textarea {
  border: 1px solid #ddd;
  border-radius: 2px;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 15px 15px;
  width: 100%;
}
.home__form label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
}
.home__form input:not([type="submit"]):focus, 
.home__form select:focus, 
.home__form textarea:focus {
  border: 1px solid #67aa54;
}

@media all and (max-width: 1200px){
  .home__teaser {
    flex: 0 0 500px;
    max-width: 500px;
  }
  .home__teaser h1 {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 10px;
  }
  .home__subtitle {
    font-size: 22px;
  }
}
@media all and (max-width: 1020px){
  .home__teaser {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 30px;
  }
  .home__form {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 10px 20px;
  }
  .home__teaser li {
    font-size: 16px;
    line-height: 28px;
  }
}
@media all and (max-width: 800px){
  .home {
    display: block;
    padding: 40px 20px;
  }
  .home__teaser,
  .home__form {
    max-width: 100%;
  }
  .home__teaser {
    display: block;
    padding: 0 0 10px;
    margin-bottom: 10px;
  }
}
@media all and (max-width: 520px){
  .home__teaser h1 {
    font-size: 28px;
    line-height: 1em;
  }
  .home__subtitle {
    font-size: 18px;
  }
}
@media all and (max-width: 400px){
  .home {
    display: block;
    padding: 30px 10px;
  }
  .home__teaser h1 {
    font-size: 24px;
    text-align: center;
  }
  .home__subtitle {
    font-size: 16px;
    text-align: center;
  }
  .home__teaser li {
    font-size: 14px;
  }
}