header {
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  position: relative;
  z-index: 100;
}
.header__wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1366px;
  width: 100%;
}
.link__auth {
  margin-left: auto;
}

@media all and (max-width: 1400px){
  header {
    padding: 0 20px;
  }
}

@media all and (max-width: 640px){
  header {
    padding: 0 10px 0 20px;
  }
}

@media all and (max-width: 480px){
  header {
    padding: 0 0 0 10px;
  }
}