.menu {
  margin-left: 10px;
  position: relative;
}
.menu__items {
  display: flex;
  justify-content: center;
}
.menu__item,
.menu__item a {
  display: block;
}
.menu__item {
  border-bottom: 3px solid #fff;
  display: inline-block;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 60px;
  margin-left: 10px;
  margin-top: 5px;
  position: relative;
  text-transform: uppercase;
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.menu__item:hover {
  border-bottom: 3px solid #7a9118;
  color: #777;
}
.menu__item a {
  padding: 0 5px;
}

.btn--menu {
  display: none;
}
.btn--menu img {
  display: block;
  padding: 10px;
}

@media all and (max-width: 768px){
  .menu__item {
    line-height: 48px;
    margin-left: 5px;
  }
}

@media all and (max-width: 640px){
  .menu {
    background: #fff;
    bottom: 0;
    right: 0;
    position: fixed;
    top: 52px;
    transition: all 0.3s ease;
    transform: translateX(0%);
    width: 260px;
    z-index: 100;
  }
  .menu--hide {
    composes: menu;
    transform: translateX(100%);
  }
  .menu__items {
    display: block;
  }
  .menu__item {
    border-bottom: 1px solid #ddd;
    display: block;
  }
  .btn--menu {
    display: block;
  }
  .menu__overlay {
    background: rgba(0,0,0,.5);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 52px;
    width: 100%;
    z-index: 80;
  }
  .menu__overlay--hide {
    composes: menu__overlay;
    display: none;
  }
}