.menu--main {
  margin-left: 10px;
  position: relative;
}
.menu--main p {
  background: #fff;
  border: 2px solid #eee;
  border-bottom: 2px solid #bbb;
  border-radius: 5px;
  color: #666;
  cursor: pointer;
  font-weight: 600;
  padding: 6px 10px;
  text-align: center;
  transition: all 0.3s ease;
}
.menu--main p:hover {
  border-bottom: 2px solid #eee;
}
.menu-items {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
  right: 0;
  padding: 10px;
  position: absolute;
  top: 53px;
  width: 300px;
  z-index: 10;
}
.menu-item,
.menu-item a {
  display: block;
}