.menu {
  margin-left: 10px;
  position: relative;
}
.menu__items {
  display: flex;
  justify-content: center;
}
.menu__item,
.menu__item a {
  display: block;
}
.menu__item {
  border-bottom: 3px solid #fff;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 60px;
  margin-left: 10px;
  margin-top: 5px;
  position: relative;
  text-transform: uppercase;
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.menu__item:hover {
  border-bottom: 3px solid #7a9118;
  color: #777;
}
.menu__item a {
  padding: 0 5px;
}

@media all and (max-width: 768px){
  .menu__item {
    line-height: 48px;
    margin-left: 5px;
  }
}