.btn {
  background-color: transparent;
  border: none;
  border-radius: 3px;
  color: #fff;
  outline: none;
  cursor: pointer;
  font: inherit;
  font-weight: 600;
  padding: 6px 10px;
  text-align: center;
}
.btn--regular {
  composes: btn;
  border: 1px solid #666;
  color: #666;
}
button:not(:disabled):hover {
  opacity: 0.75;
}
button:disabled {
  cursor: default;
  color: #ccc;
}

.btn--auth {
  composes: btn;
  background: url('../../../assets/images/btn-stripes.png') #3f4d00;
  border-bottom: 3px solid #3f4d00;
  display: block;
  font-size: 18px;
  margin: 10px auto;
  padding: 20px;
  transition: background 0.3s ease;
  width: 100%;
}
.btn--auth--loading {
  composes: btn--auth;
  animation: pulse 1s linear infinite alternate;
}